dist: xenial
os: linux

language: php

git:
    depth: 10

cache:
    directories:
        - $HOME/.composer

env:
    global:
        - DEFAULT_COMPOSER_FLAGS="--optimize-autoloader --no-interaction --no-progress"
        - COMPOSER_FLAGS=""

stages:
    - Fast Test
    - Static code analysis
    - Test

before_install:
    # turn off XDebug
    - phpenv config-rm xdebug.ini || return 0

    # Composer: boost installation
    - composer global show hirak/prestissimo -q || travis_retry composer global require $DEFAULT_COMPOSER_FLAGS hirak/prestissimo

jobs:
    include:
        -
            stage: Static code analysis
            php: 7.4
            install:
                - travis_retry composer update $DEFAULT_COMPOSER_FLAGS
                - travis_retry composer update -d dev-tools $DEFAULT_COMPOSER_FLAGS
                - composer info -d dev-tools -D | sort
            script:
                - composer validate --strict || travis_terminate 1
                - composer normalize -d ./dev-tools ./../composer.json --dry-run || travis_terminate 1
                - dev-tools/vendor/bin/phpmd src,tests text ./dev-tools/phpmd.xml || travis_terminate 1
                - dev-tools/vendor/bin/php-cs-fixer fix --diff --dry-run -v || travis_terminate 1

        - &STANDARD_TEST_JOB
            stage: Test
            php: 7.0
            install:
                - travis_retry composer update $DEFAULT_COMPOSER_FLAGS $COMPOSER_FLAGS
                - composer info -D | sort
            script:
                - vendor/bin/phpunit
        -
            <<: *STANDARD_TEST_JOB
            php: 5.6
            env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest"
        -
            <<: *STANDARD_TEST_JOB
            php: 7.1
        -
            <<: *STANDARD_TEST_JOB
            php: 7.2
        -
            <<: *STANDARD_TEST_JOB
            php: 7.3
        -
            <<: *STANDARD_TEST_JOB
            stage: Fast Test
            php: 7.4
        -
            <<: *STANDARD_TEST_JOB
            php: nightly
